body{
  background: #ede6e6;
  margin: 0;
  padding: 0;
}
.contentbox{
  display: flex;
  justify-content: space-evenly;
}
@media only screen and (max-width: 600px) {
  .contentbox{
    flex-direction: column;
  }
  .videobox{
    align-self: center;
  }
}
.videobox{
  width: 60vw;
  height: 70vh;
  border: 2px solid black;
}
.heading{
  margin: 2rem;
  text-align: center;
  font-style:inherit;
  font-weight: normal;
  color: white;
  padding: 10px;
  background: #000;
}